@import "../../_globalColor";

.main {
	overflow-x: hidden;
}

.skills-main-div {
	display: flex;
	width: 100%;
	overflow: hidden;
}

.skills-main-div > * {
	flex: 1;
}

.skills-image-div > img {
	max-width: 100%;
	height: auto;
}

.skills-heading {
	font-size: 56px;
	font-weight: 400;
}

.subTitle {
	color: $subTitle;
	font-size: 19px;
}

.skills-text {
	font-size: 16px;
}

/* Media Query */
@media (max-width: 768px) {
	.skills-heading {
		font-size: 30px;
		text-align: left;
	}
	.greeting-text-p {
		font-size: 16px;
		line-height: normal;
	}
	.skills-main-div {
		flex-direction: column;
	}
	.skills-text-subtitle {
		font-size: 16px;
		text-align: left;
	}
	.skills-image-div {
		/* display: none; */
		order: 2;
	}
}

@media (max-width: 1380px) {
	.skills-heading {
		font-size: 40px;
		text-align: left;
	}
}
