@import "../_globalColor";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: $lightBackground1;
}

.dark-mode {
	background-color: $darkBackground;
	color: white;
	transition: "0.1s";
}

.content {
	min-height: 100vh;
}

@media (min-width: 1380px) {
	.content {
		padding: 0 15%;
	}
}

@media (max-width: 1380px) {
	.content {
		padding: 0 10%;
	}
}

@media (max-width: 1180px) {
	.content {
		padding: 0 5%;
	}
}
