@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");

* {
	font-display: optional;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

ul {
	list-style-type: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	background-color: #d6d4c5;
}

button {
	cursor: pointer;
	padding: 0;
	border: none;
	background: none;
	opacity: 60%;
}

button:hover {
	opacity: 100%;
}

.main {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.sidebar {
	display: flex;
	position: fixed;
	flex-wrap: wrap;
	min-width: 300px;
	max-width: 300px;
	height: 100%;
	background-color: #f7f6f2;
	text-align: center;
	justify-content: center;
	z-index: 2;
	transition: left ease 0.5s;
	left: 0px;
}

.nav {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 500px;
}

.nav .closeSidebar {
	font-size: 48px;
	position: absolute;
	top: 0px;
	right: 10px;
}

.nav ul li {
	margin-right: 25px;
	margin-left: 25px;
	margin-bottom: 20px;
	padding-bottom: 12px;
	font-family: "Secular One", sans-serif;
	font-size: 16px;
}

#profile-image {
	position: relative;
	width: 120px;
	height: auto;
	max-width: 195px;
	margin-bottom: 50px;
	clip-path: circle();
}

.socials-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	margin-top: 100px;
}

.socials-container a {
	width: 50px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.socials {
	position: relative;
	height: 30px;
	opacity: 40%;
	transition: opacity 0.5s;
}

.content {
	width: 100vw;
	height: 100vh;
	background-color: #d6d4c5;
}

.slide-in {
	animation: slide-in 1.5s ease;
	animation-delay: 100ms;
}

.hover-underline {
	display: inline-block;
	position: relative;
	color: black;
}

.hover-underline::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: -2px;
	left: 0;
	background-color: black;
	transform-origin: bottom right;
	transition: transform 0.5s ease-out;
}

.hover-underline:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
/*
@keyframes sidebar-on-launch {
	from {
		left: -600px;
	}
	to {
		left: 0px;
	}
}

@keyframes main-on-launch {
	from {
		left: 0;
	}
	to {
		left: 300px;
	}
}
*/
.main {
	width: 100%;
}

.main .openSidebar {
	font-size: 32px;
	position: relative;
	top: 30px;
	left: 40px;
}

#text {
	position: absolute;
	left: 300px;
	max-width: 100%;
	margin-left: 5%;
	margin-right: 4%;
	padding-top: 40px;
	transition: left 0.5s;
}

@media only screen and (max-width: 800px) {
	.sidebar {
		left: -300px !important;
	}
	#text {
		left: 0px !important;
	}
}
