@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
	font-family: "Montserrat", sans-serif;
	font-display: optional;
}

img,
.menu-item {
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

ul {
	list-style-type: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-weight: 600;
	text-align: left;
}

body {
	margin: 0;
	padding: 0;
	background-color: #fafafa;
}

button {
	position: static;
	display: inline;
	cursor: pointer;
	padding: 0;
	border: none;
	background: none;
	opacity: 60%;
	transition: opacity 0.2s;
}

.content button {
	text-align: center;
	padding: 2px;
}

button:hover {
	opacity: 100%;
}

.main {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.sidebar {
	display: flex;
	flex-wrap: nowrap;
	position: fixed;
	min-width: 300px;
	max-width: 300px;
	height: 100%;
	background-color: #1d1919;
	text-align: center;
	justify-content: center;
	transition: left 0.3s ease;
	left: -300px;
}

.nav {
	width: 100%;
	margin-top: 50px;
	margin-right: 10px;
}

.nav .close-sidebar {
	position: absolute;
	top: 20px;
	right: 18px;
	filter: invert(100);
}

.close-sidebar img {
	max-width: 23px;
}

.menu-item.selected-item {
	color: #ffffff;
}

.nav li {
	margin-bottom: 20px;
	padding-bottom: 12px;
	font-weight: 600;
	font-size: 16px;
}

#profile-image {
	position: relative;
	width: 120px;
	height: auto;
	min-height: 120px;
	max-width: 195px;
	margin-bottom: 0px;
	clip-path: circle();
}

.profile-area {
	position: relative;
	bottom: 5px;
	font-size: 18px;
}

.profile-area h2 {
	font-weight: 400;
	font-size: 16pt;
	font-size: 18px;
	font-weight: 300;
	color: #d2d1d1;
	text-align: center;
	margin-top: 10px;
}

.menu-items {
	margin-left: 25px;
	margin-right: 25px;
}

.socials-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: center;
	margin-top: 100px;
}

.socials-container a {
	width: 50px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-evenly;
}

.socials {
	position: relative;
	height: 30px;
	opacity: 60%;
	transition: opacity 0.3s;
	filter: invert(100);
}

.content {
	width: 100vw;
	height: 100vh;
	background-color: #fafafa;
}

.menu-item {
	display: inline-block;
	position: relative;
	color: #9d9d9d;
	transition: color 0.2s ease;
}

.menu-item::after {
	content: "";
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 3px;
	bottom: -5px;
	left: 0;
	background-color: #f8b739;
	transform-origin: bottom right;
	transition: transform 0.2s ease-out;
}

.menu-item:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.main {
	width: 100%;
}

.navbar {
	position: absolute;
	box-shadow: 2px 2px 10px 0px lightgray;
	border-radius: 5px;
	height: 70px;
	left: 300px;
	right: 4%;
	justify-content: center;
	vertical-align: middle;
	margin: 30px 0px 0px 4%;
}

.open-sidebar {
	position: absolute;
	top: 15px;
	left: 20px;
	z-index: 1;
	transition: opacity 0.2s ease;
}

.open-sidebar img {
	max-width: 40px;
	height: auto;
	min-height: 40px;
}

.page {
	position: absolute;
	font-weight: 400;
	top: 125px;
	left: 300px;
	margin-left: 4%;
	margin-right: 4%;
	text-align: justify;
	opacity: 0%;
	z-index: -999;
}

.home.page {
	position: flex;
}

.logos-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.img-wrapper {
	max-height: 60px;
	width: 60px;
	object-fit: scale-down;
	background-size: cover;
	background-repeat: none;
	background-position: center;
	padding: 0 20px 30px 20px;
}

.active {
	opacity: 100%;
	z-index: 1;
}

.stretchable {
	left: 0px;
	transition: left 0.3s, opacity 0.3s;
}

@media all and (max-width: 800px) {
	.sidebar {
		left: -300px !important;
	}
	.navbar {
		left: 0px !important;
	}
	.page {
		left: 0px !important;
	}
}
