@import "../../_globalColor";

.main {
	width: 100%;
	padding: 20px 10px;
	margin: 0px 0px;
}
.greet-main {
	width: 100%;
	margin: 0px 0px;
	margin-top: 2rem;
}

.greeting-main {
	display: flex;
}

.title {
	color: $subText !important;
}

.subTitle {
	color: $textColor !important;
	font-size: 14px;
}

.greeting-main {
	display: flex;
}

.greeting-main > * {
	flex: 1;
	margin-bottom: 30px;
}

.empty-div {
	margin-bottom: 40px;
}

.button-greeting-div {
	display: flex;
	flex-wrap: wrap;
	margin: 0px 0px 100px;
}

.button-greeting-div > a {
	padding-bottom: 10px;
}

.download-link-button {
	text-decoration: none;
}

.greeting-text {
	font-size: 50px;
	line-height: 1.1;
	color: $textColor !important;
}

.greeting-text-p {
	font-size: 19px;
	line-height: normal;
	margin-block-end: 0px;
	line-height: 28px;
}

.greeting-text-p2 {
	font-size: 14px !important;
	line-height: 0px;
}

.greeting-image-div > img {
	max-width: 600px;
	height: auto;
	float: right;
}

.rocket-emoji {
	animation-duration: 1.8s;
	animation-iteration-count: infinite;
	animation-name: rocket;
	display: inline-block;
	transform-origin: 70% 70%;
}

@keyframes rocket {
	0% {
		transform: translateY(5px) rotate(-2deg);
	}
	50% {
		transform: translateY(10px) rotate(5deg);
	}
	100% {
		transform: translateY(5px) rotate(-2deg);
	}
}

/* Media Query */
@media (max-width: 1380px) {
	.greeting-text {
		font-size: 50px;
	}
}

@media (max-width: 1302px) {
	.greeting-image-div {
		display: none;
	}
}

@media (max-width: 768px) {
	.button-greeting-div {
		justify-content: start;
	}
	.button-greeting-div a {
		margin-right: 5px;
	}
	.greeting-text {
		font-size: 30px;
		text-align: left;
	}
	.greeting-text-p {
		font-size: 16px;
		text-align: left;
	}
	.greeting-main {
		display: block;
	}
	.greeting-text-p {
		font-size: 16px;
		line-height: 28px !important;
	}
	.greeting-text-p2 {
		font-size: 12px !important;
	}
}

@media (max-width: 320px) {
	.main {
		width: auto;
	}
	.greeting-image-di {
		max-width: none;
	}
}
