@import "../../_globalColor";

.dev-icons {
	display: flex;
	flex-wrap: wrap;
	font-size: 3rem;
	margin-bottom: 0;
	margin-top: 60px;
	padding-left: 0;
	text-align: center;
	justify-content: space-around;
}

.software-skill-inline {
	display: inline-block;
	flex: 6% 1;
	margin-right: 5%;
	margin-bottom: 20px;
}

.software-skill-inline > i {
	color: $subTitle;
}

.software-skill-inline > i:hover {
	color: $skillsColor;
}
.software-skill-inline > p {
	color: $subTitle;
	font-size: 10px;
}
.software-skill-inline > i:hover ~ p {
	color: $skillsColor;
}

@media (max-width: 1100px) {
	.software-skill-inline {
		margin-right: 2%;
		min-width: 79px;
		max-width: 79px;
	}
}
